@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: #f48915;
  --appColor: #3c3f45;
}

body {
  background-color: #e4dede;
}

@layer base {
  button {
    @apply border border-black rounded-xl px-5 py-1;
  }
}
